body{
    font-family: serif;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color:#e4f9f5 ;
}
h1{
    margin-top: 50px;
}
.uper-container{
    
    position: relative;
    padding-top: 100px;
    
}
.umair-profile{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    
}
.pro{
    text-decoration: underline;
}
.hacker{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.mountain-p{
    margin: 0%;
   
   
}